@charset "UTF-8";
/*
 *
 * SkyBlue Sass by Stanko
 *
 * Built and maintained with a lots of love
 * http://null-object.com
 *
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, col-md-, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent; }

@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body > iframe {
  display: none; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px; }
  .container:before, .container:after {
    content: " ";
    display: table;
    line-height: 0; }
  .container:after {
    clear: both; }

.row {
  margin-left: -20px;
  margin-right: -20px; }
  .row:before, .row:after {
    content: " ";
    display: table;
    line-height: 0; }
  .row:after {
    clear: both; }

.col {
  min-height: 1px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px; }
  .col:before, .col:after {
    content: " ";
    display: table;
    line-height: 0; }
  .col:after {
    clear: both; }
  .col .float-right {
    float: right; }

.xs-0 {
  width: 0%;
  float: left; }

.offset-xs-0 {
  margin-left: 0%; }

.xs-1 {
  width: 8.33333%;
  float: left; }

.offset-xs-1 {
  margin-left: 8.33333%; }

.xs-2 {
  width: 16.66667%;
  float: left; }

.offset-xs-2 {
  margin-left: 16.66667%; }

.xs-3 {
  width: 25%;
  float: left; }

.offset-xs-3 {
  margin-left: 25%; }

.xs-4 {
  width: 33.33333%;
  float: left; }

.offset-xs-4 {
  margin-left: 33.33333%; }

.xs-5 {
  width: 41.66667%;
  float: left; }

.offset-xs-5 {
  margin-left: 41.66667%; }

.xs-6 {
  width: 50%;
  float: left; }

.offset-xs-6 {
  margin-left: 50%; }

.xs-7 {
  width: 58.33333%;
  float: left; }

.offset-xs-7 {
  margin-left: 58.33333%; }

.xs-8 {
  width: 66.66667%;
  float: left; }

.offset-xs-8 {
  margin-left: 66.66667%; }

.xs-9 {
  width: 75%;
  float: left; }

.offset-xs-9 {
  margin-left: 75%; }

.xs-10 {
  width: 83.33333%;
  float: left; }

.offset-xs-10 {
  margin-left: 83.33333%; }

.xs-11 {
  width: 91.66667%;
  float: left; }

.offset-xs-11 {
  margin-left: 91.66667%; }

.xs-12 {
  width: 100%;
  float: left; }

.offset-xs-12 {
  margin-left: 100%; }

@media screen and (min-width: 480px) {
  .sm-0 {
    width: 0%;
    float: left; }
  .offset-sm-0 {
    margin-left: 0%; }
  .sm-1 {
    width: 8.33333%;
    float: left; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .sm-2 {
    width: 16.66667%;
    float: left; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .sm-3 {
    width: 25%;
    float: left; }
  .offset-sm-3 {
    margin-left: 25%; }
  .sm-4 {
    width: 33.33333%;
    float: left; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .sm-5 {
    width: 41.66667%;
    float: left; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .sm-6 {
    width: 50%;
    float: left; }
  .offset-sm-6 {
    margin-left: 50%; }
  .sm-7 {
    width: 58.33333%;
    float: left; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .sm-8 {
    width: 66.66667%;
    float: left; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .sm-9 {
    width: 75%;
    float: left; }
  .offset-sm-9 {
    margin-left: 75%; }
  .sm-10 {
    width: 83.33333%;
    float: left; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .sm-11 {
    width: 91.66667%;
    float: left; }
  .offset-sm-11 {
    margin-left: 91.66667%; }
  .sm-12 {
    width: 100%;
    float: left; }
  .offset-sm-12 {
    margin-left: 100%; } }

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px; }
  .md-0 {
    width: 0%;
    float: left; }
  .offset-md-0 {
    margin-left: 0%; }
  .md-1 {
    width: 8.33333%;
    float: left; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .md-2 {
    width: 16.66667%;
    float: left; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .md-3 {
    width: 25%;
    float: left; }
  .offset-md-3 {
    margin-left: 25%; }
  .md-4 {
    width: 33.33333%;
    float: left; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .md-5 {
    width: 41.66667%;
    float: left; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .md-6 {
    width: 50%;
    float: left; }
  .offset-md-6 {
    margin-left: 50%; }
  .md-7 {
    width: 58.33333%;
    float: left; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .md-8 {
    width: 66.66667%;
    float: left; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .md-9 {
    width: 75%;
    float: left; }
  .offset-md-9 {
    margin-left: 75%; }
  .md-10 {
    width: 83.33333%;
    float: left; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .md-11 {
    width: 91.66667%;
    float: left; }
  .offset-md-11 {
    margin-left: 91.66667%; }
  .md-12 {
    width: 100%;
    float: left; }
  .offset-md-12 {
    margin-left: 100%; } }

@media screen and (min-width: 970px) {
  .container {
    max-width: 940px; }
  .lg-0 {
    width: 0%;
    float: left; }
  .offset-lg-0 {
    margin-left: 0%; }
  .lg-1 {
    width: 8.33333%;
    float: left; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .lg-2 {
    width: 16.66667%;
    float: left; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .lg-3 {
    width: 25%;
    float: left; }
  .offset-lg-3 {
    margin-left: 25%; }
  .lg-4 {
    width: 33.33333%;
    float: left; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .lg-5 {
    width: 41.66667%;
    float: left; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .lg-6 {
    width: 50%;
    float: left; }
  .offset-lg-6 {
    margin-left: 50%; }
  .lg-7 {
    width: 58.33333%;
    float: left; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .lg-8 {
    width: 66.66667%;
    float: left; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .lg-9 {
    width: 75%;
    float: left; }
  .offset-lg-9 {
    margin-left: 75%; }
  .lg-10 {
    width: 83.33333%;
    float: left; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .lg-11 {
    width: 91.66667%;
    float: left; }
  .offset-lg-11 {
    margin-left: 91.66667%; }
  .lg-12 {
    width: 100%;
    float: left; }
  .offset-lg-12 {
    margin-left: 100%; } }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1150px; }
  .xl-0 {
    width: 0%;
    float: left; }
  .offset-xl-0 {
    margin-left: 0%; }
  .xl-1 {
    width: 8.33333%;
    float: left; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .xl-2 {
    width: 16.66667%;
    float: left; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .xl-3 {
    width: 25%;
    float: left; }
  .offset-xl-3 {
    margin-left: 25%; }
  .xl-4 {
    width: 33.33333%;
    float: left; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .xl-5 {
    width: 41.66667%;
    float: left; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .xl-6 {
    width: 50%;
    float: left; }
  .offset-xl-6 {
    margin-left: 50%; }
  .xl-7 {
    width: 58.33333%;
    float: left; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .xl-8 {
    width: 66.66667%;
    float: left; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .xl-9 {
    width: 75%;
    float: left; }
  .offset-xl-9 {
    margin-left: 75%; }
  .xl-10 {
    width: 83.33333%;
    float: left; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .xl-11 {
    width: 91.66667%;
    float: left; }
  .offset-xl-11 {
    margin-left: 91.66667%; }
  .xl-12 {
    width: 100%;
    float: left; }
  .offset-xl-12 {
    margin-left: 100%; } }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  margin: 0;
  font-weight: 300;
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, sans-serif;
  margin-bottom: 0.5em; }

h1 {
  font-size: 2.4em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.7em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1em; }

p {
  line-height: 1.5em;
  margin-bottom: 1em; }

small {
  font-size: 0.75em; }

.big {
  font-size: 1.25em; }

b, strong {
  font-weight: 700; }

i, em {
  font-style: italic; }

img {
  max-width: 100%; }

a {
  color: #3498DB;
  transition: all 0.25s;
  text-decoration: none; }
  a.secundary {
    color: #1BBC9B; }

a:active, a:focus, a:hover {
  color: #1f83c6; }
  a:active.secundary, a:focus.secundary, a:hover.secundary {
    color: #06a786; }

ul, ol {
  margin-bottom: 1em;
  padding-left: 22px; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0; }

ul li {
  list-style: disc outside none; }
  ul li li {
    list-style: circle outside none; }

ol li {
  list-style: decimal outside none; }

ul.unstyled, ol.unstyled {
  margin: 0;
  padding: 0; }
  ul.unstyled li, ol.unstyled li {
    margin: 0;
    padding: 0;
    list-style: none; }

blockquote {
  border-left: 2px solid #ddd;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  font-size: 1.1em;
  color: #777; }
  blockquote cite {
    font-size: 0.8em;
    color: #555; }
    blockquote cite:before {
      content: "— "; }

hr {
  border: 0;
  border-bottom: 1px solid #ededed;
  margin: 20px 0 20px 0;
  clear: both; }

pre, code {
  font-family: "Deja-vu Sans Mono", Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 1.5em;
  color: #333;
  background: #F7F7F9;
  border: 1px solid #E1E1E8;
  border-radius: 3px;
  padding: 0.8em 1em;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word; }

pre {
  margin-bottom: 1em; }

code {
  display: inline-block;
  padding: 0.1em 0.3em; }

button, input[type="submit"], input[type="button"] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1em;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased; }

.btn {
  display: inline-block;
  min-width: 120px;
  padding: 10px 25px;
  margin-bottom: 1em;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  line-height: 1.4em;
  text-align: center;
  text-decoration: none;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
  background: #3498DB;
  color: #fff; }
  .btn.btn-sm {
    padding: 5px 15px;
    min-width: 30px;
    font-size: 0.8em;
    line-height: 1.2em; }
  .btn.btn-lg {
    padding: 12px 45px;
    min-width: 200px;
    font-size: 1.4em; }
  .btn:hover {
    background-color: #1f83c6;
    color: #fff; }
  .btn:active {
    background-color: #0a6eb1;
    color: #fff;
    top: 1px;
    position: relative; }
  .btn.btn-success {
    background: #1BBC9B;
    color: #fff; }
    .btn.btn-success:hover {
      background-color: #06a786;
      color: #fff; }
    .btn.btn-success:active {
      background-color: #009271;
      color: #fff;
      top: 1px;
      position: relative; }
  .btn.btn-error {
    background: #E74C3C;
    color: #fff; }
    .btn.btn-error:hover {
      background-color: #d23727;
      color: #fff; }
    .btn.btn-error:active {
      background-color: #bd2212;
      color: #fff;
      top: 1px;
      position: relative; }
  .btn.btn-warning {
    background: #F1C000;
    color: #fff; }
    .btn.btn-warning:hover {
      background-color: #dcab00;
      color: #fff; }
    .btn.btn-warning:active {
      background-color: #c79600;
      color: #fff;
      top: 1px;
      position: relative; }
  .btn.btn-light {
    background: #ecf0f1;
    color: #999; }
    .btn.btn-light:hover {
      background-color: #d7dbdc;
      color: #fff; }
    .btn.btn-light:active {
      background-color: #c2c6c7;
      color: #fff;
      top: 1px;
      position: relative; }
  .btn.btn-dark {
    background: #252428;
    color: #fff; }
    .btn.btn-dark:hover {
      background-color: #100f13;
      color: #fff; }
    .btn.btn-dark:active {
      background-color: black;
      color: #fff;
      top: 1px;
      position: relative; }
  .btn.btn-empty {
    background: transparent;
    border: 2px solid #3498DB;
    border-radius: 1000px;
    padding: 8px 25px;
    border: 2px solid #3498DB;
    color: #3498DB;
    background: none; }
    .btn.btn-empty:hover {
      color: #1f83c6;
      border-color: #1f83c6;
      background: none; }
    .btn.btn-empty:active {
      color: #0a6eb1;
      border-color: #0a6eb1;
      background: none; }
    .btn.btn-empty.btn-success {
      border: 2px solid #1BBC9B;
      color: #1BBC9B;
      background: none; }
      .btn.btn-empty.btn-success:hover {
        color: #06a786;
        border-color: #06a786;
        background: none; }
      .btn.btn-empty.btn-success:active {
        color: #009271;
        border-color: #009271;
        background: none; }
    .btn.btn-empty.btn-error {
      border: 2px solid #E74C3C;
      color: #E74C3C;
      background: none; }
      .btn.btn-empty.btn-error:hover {
        color: #d23727;
        border-color: #d23727;
        background: none; }
      .btn.btn-empty.btn-error:active {
        color: #bd2212;
        border-color: #bd2212;
        background: none; }
    .btn.btn-empty.btn-warning {
      border: 2px solid #F1C000;
      color: #F1C000;
      background: none; }
      .btn.btn-empty.btn-warning:hover {
        color: #dcab00;
        border-color: #dcab00;
        background: none; }
      .btn.btn-empty.btn-warning:active {
        color: #c79600;
        border-color: #c79600;
        background: none; }
    .btn.btn-empty.btn-light {
      border: 2px solid #ddd;
      color: #999;
      background: none; }
      .btn.btn-empty.btn-light:hover {
        color: #848484;
        border-color: #c8c8c8;
        background: none; }
      .btn.btn-empty.btn-light:active {
        color: #6f6f6f;
        border-color: #b3b3b3;
        background: none; }
    .btn.btn-empty.btn-dark {
      border: 2px solid #252428;
      color: #252428;
      background: none; }
      .btn.btn-empty.btn-dark:hover {
        color: #100f13;
        border-color: #100f13;
        background: none; }
      .btn.btn-empty.btn-dark:active {
        color: black;
        border-color: black;
        background: none; }

input[type="text"].form-control, input[type="password"].form-control, input[type="date"].form-control, input[type="datetime"].form-control, input[type="email"].form-control, input[type="number"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="time"].form-control, input[type="url"].form-control, select.form-control, textarea.form-control {
  height: 2.625em;
  width: 100%;
  max-width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #555;
  font-size: 1em;
  border: 2px solid #ddd;
  border-radius: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  transition: border-color 0.25s, color 0.25s; }
  input[type="text"].form-control:focus, input[type="password"].form-control:focus, input[type="date"].form-control:focus, input[type="datetime"].form-control:focus, input[type="email"].form-control:focus, input[type="number"].form-control:focus, input[type="search"].form-control:focus, input[type="tel"].form-control:focus, input[type="time"].form-control:focus, input[type="url"].form-control:focus, select.form-control:focus, textarea.form-control:focus {
    border: 2px solid #3498DB;
    color: #111;
    outline: none; }
  input[type="text"].form-control.error, .error input[type="text"].form-control, input[type="password"].form-control.error, .error input[type="password"].form-control, input[type="date"].form-control.error, .error input[type="date"].form-control, input[type="datetime"].form-control.error, .error input[type="datetime"].form-control, input[type="email"].form-control.error, .error input[type="email"].form-control, input[type="number"].form-control.error, .error input[type="number"].form-control, input[type="search"].form-control.error, .error input[type="search"].form-control, input[type="tel"].form-control.error, .error input[type="tel"].form-control, input[type="time"].form-control.error, .error input[type="time"].form-control, input[type="url"].form-control.error, .error input[type="url"].form-control, select.form-control.error, .error select.form-control, textarea.form-control.error, .error textarea.form-control {
    border-color: #E74C3C; }
  input[type="text"].form-control.warning, .warning input[type="text"].form-control, input[type="password"].form-control.warning, .warning input[type="password"].form-control, input[type="date"].form-control.warning, .warning input[type="date"].form-control, input[type="datetime"].form-control.warning, .warning input[type="datetime"].form-control, input[type="email"].form-control.warning, .warning input[type="email"].form-control, input[type="number"].form-control.warning, .warning input[type="number"].form-control, input[type="search"].form-control.warning, .warning input[type="search"].form-control, input[type="tel"].form-control.warning, .warning input[type="tel"].form-control, input[type="time"].form-control.warning, .warning input[type="time"].form-control, input[type="url"].form-control.warning, .warning input[type="url"].form-control, select.form-control.warning, .warning select.form-control, textarea.form-control.warning, .warning textarea.form-control {
    border-color: #F1C000; }
  input[type="text"].form-control.success, .success input[type="text"].form-control, input[type="password"].form-control.success, .success input[type="password"].form-control, input[type="date"].form-control.success, .success input[type="date"].form-control, input[type="datetime"].form-control.success, .success input[type="datetime"].form-control, input[type="email"].form-control.success, .success input[type="email"].form-control, input[type="number"].form-control.success, .success input[type="number"].form-control, input[type="search"].form-control.success, .success input[type="search"].form-control, input[type="tel"].form-control.success, .success input[type="tel"].form-control, input[type="time"].form-control.success, .success input[type="time"].form-control, input[type="url"].form-control.success, .success input[type="url"].form-control, select.form-control.success, .success select.form-control, textarea.form-control.success, .success textarea.form-control {
    border-color: #1BBC9B; }

textarea {
  height: auto;
  min-height: 100px;
  line-height: 1.5em; }

select {
  -webkit-appearance: none;
  -moz-appearance: none; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select, select.form-control {
    background-color: #fff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgeG1sbnM6eGxpbms9J2h0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsnIHdpZHRoPSczNicgaGVpZ2h0PScyMCcgdmlld0JveD0nMCAwIDIwIDIwJz48cGF0aCBkPSdNMTcuNDE4IDYuMTA5YzAuMjcyLTAuMjY4IDAuNzA5LTAuMjY4IDAuOTc5IDBzMC4yNzEgMC43MDEgMCAwLjk2OWwtNy45MDggNy44M2MtMC4yNyAwLjI2OC0wLjcwNyAwLjI2OC0wLjk3OSAwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEgMC0wLjk2OXMwLjcwOS0wLjI2OCAwLjk3OSAwbDcuNDE5IDcuMTQxIDcuNDE4LTcuMTQxeicgZmlsbD0nIzQ0NDQ0NCc+PC9wYXRoPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 36px; } }

@-moz-document url-prefix() {
  select, select.form-control {
    background-color: #fff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgeG1sbnM6eGxpbms9J2h0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsnIHdpZHRoPSczNicgaGVpZ2h0PScyMCcgdmlld0JveD0nMCAwIDIwIDIwJz48cGF0aCBkPSdNMTcuNDE4IDYuMTA5YzAuMjcyLTAuMjY4IDAuNzA5LTAuMjY4IDAuOTc5IDBzMC4yNzEgMC43MDEgMCAwLjk2OWwtNy45MDggNy44M2MtMC4yNyAwLjI2OC0wLjcwNyAwLjI2OC0wLjk3OSAwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEgMC0wLjk2OXMwLjcwOS0wLjI2OCAwLjk3OSAwbDcuNDE5IDcuMTQxIDcuNDE4LTcuMTQxeicgZmlsbD0nIzQ0NDQ0NCc+PC9wYXRoPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 36px; } }

label {
  display: block;
  margin-bottom: 0.5em;
  line-height: 1.5em; }
  label.error, .error label {
    color: #E74C3C; }
  label.warning, .warning label {
    color: #F1C000; }
  label.success, .success label {
    color: #1BBC9B; }

::-webkit-input-placeholder {
  color: #999; }

:-moz-placeholder {
  color: #999; }

::-moz-placeholder {
  color: #999; }

:-ms-input-placeholder {
  color: #999; }

[type="search"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield; }


.fancy-radio, .fancy-checkbox {
  position: relative;
  cursor: pointer; }
  .fancy-radio input, .fancy-checkbox input {
    opacity: 0;
    position: absolute; }
  .fancy-radio span:before, .fancy-radio span:after, .fancy-checkbox span:before, .fancy-checkbox span:after {
    box-sizing: border-box;
    content: '';
    display: block;
    position: absolute;
    transition: all 0.25s; }

.fancy-checkbox {
  padding-left: 44px; }
  .fancy-checkbox span:before {
    width: 38px;
    height: 22px;
    border-radius: 11px;
    top: 1px;
    left: 0;
    background: #c3c5c4;
    border: 1px solid #c3c5c4; }
  .fancy-checkbox span:after {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #fff;
    top: 2px;
    left: 1px; }
  .fancy-checkbox input:checked + span:after {
    left: 17px; }
  .fancy-checkbox input:checked + span:before {
    background: #3498DB;
    border: 1px solid #3498DB; }
  .fancy-checkbox input:focus + span:before {
    border: 1px solid #8f9391; }
  .fancy-checkbox input:focus:checked + span:before {
    border: 1px solid #2589CC; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5em;
  background-color: #fff;
  color: #555555; }

img {
  max-width: 100%; }

.noscroll {
  overflow: hidden; }

.margin-0 {
  margin: 0px; }

.margin-top-0 {
  margin-top: 0px; }

.margin-bottom-0 {
  margin-bottom: 0px; }

.margin-left-0 {
  margin-left: 0px; }

.margin-right-0 {
  margin-right: 0px; }

.margin-y-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.margin-x-0 {
  margin-left: 0px;
  margin-right: 0px; }

.padding-0 {
  padding: 0px; }

.padding-top-0 {
  padding-top: 0px; }

.padding-bottom-0 {
  padding-bottom: 0px; }

.padding-left-0 {
  padding-left: 0px; }

.padding-right-0 {
  padding-right: 0px; }

.padding-y-0 {
  padding-top: 0px;
  padding-bottom: 0px; }

.padding-x-0 {
  padding-left: 0px;
  padding-right: 0px; }

.margin-5 {
  margin: 5px; }

.margin-top-5 {
  margin-top: 5px; }

.margin-bottom-5 {
  margin-bottom: 5px; }

.margin-left-5 {
  margin-left: 5px; }

.margin-right-5 {
  margin-right: 5px; }

.margin-y-5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.margin-x-5 {
  margin-left: 5px;
  margin-right: 5px; }

.padding-5 {
  padding: 5px; }

.padding-top-5 {
  padding-top: 5px; }

.padding-bottom-5 {
  padding-bottom: 5px; }

.padding-left-5 {
  padding-left: 5px; }

.padding-right-5 {
  padding-right: 5px; }

.padding-y-5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.padding-x-5 {
  padding-left: 5px;
  padding-right: 5px; }

.margin-10 {
  margin: 10px; }

.margin-top-10 {
  margin-top: 10px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-left-10 {
  margin-left: 10px; }

.margin-right-10 {
  margin-right: 10px; }

.margin-y-10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.margin-x-10 {
  margin-left: 10px;
  margin-right: 10px; }

.padding-10 {
  padding: 10px; }

.padding-top-10 {
  padding-top: 10px; }

.padding-bottom-10 {
  padding-bottom: 10px; }

.padding-left-10 {
  padding-left: 10px; }

.padding-right-10 {
  padding-right: 10px; }

.padding-y-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.padding-x-10 {
  padding-left: 10px;
  padding-right: 10px; }

.margin-15 {
  margin: 15px; }

.margin-top-15 {
  margin-top: 15px; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.margin-left-15 {
  margin-left: 15px; }

.margin-right-15 {
  margin-right: 15px; }

.margin-y-15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.margin-x-15 {
  margin-left: 15px;
  margin-right: 15px; }

.padding-15 {
  padding: 15px; }

.padding-top-15 {
  padding-top: 15px; }

.padding-bottom-15 {
  padding-bottom: 15px; }

.padding-left-15 {
  padding-left: 15px; }

.padding-right-15 {
  padding-right: 15px; }

.padding-y-15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.padding-x-15 {
  padding-left: 15px;
  padding-right: 15px; }

.margin-20 {
  margin: 20px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-left-20 {
  margin-left: 20px; }

.margin-right-20 {
  margin-right: 20px; }

.margin-y-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.margin-x-20 {
  margin-left: 20px;
  margin-right: 20px; }

.padding-20 {
  padding: 20px; }

.padding-top-20 {
  padding-top: 20px; }

.padding-bottom-20 {
  padding-bottom: 20px; }

.padding-left-20 {
  padding-left: 20px; }

.padding-right-20 {
  padding-right: 20px; }

.padding-y-20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.padding-x-20 {
  padding-left: 20px;
  padding-right: 20px; }

.margin-25 {
  margin: 25px; }

.margin-top-25 {
  margin-top: 25px; }

.margin-bottom-25 {
  margin-bottom: 25px; }

.margin-left-25 {
  margin-left: 25px; }

.margin-right-25 {
  margin-right: 25px; }

.margin-y-25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.margin-x-25 {
  margin-left: 25px;
  margin-right: 25px; }

.padding-25 {
  padding: 25px; }

.padding-top-25 {
  padding-top: 25px; }

.padding-bottom-25 {
  padding-bottom: 25px; }

.padding-left-25 {
  padding-left: 25px; }

.padding-right-25 {
  padding-right: 25px; }

.padding-y-25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.padding-x-25 {
  padding-left: 25px;
  padding-right: 25px; }

.margin-30 {
  margin: 30px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-bottom-30 {
  margin-bottom: 30px; }

.margin-left-30 {
  margin-left: 30px; }

.margin-right-30 {
  margin-right: 30px; }

.margin-y-30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.margin-x-30 {
  margin-left: 30px;
  margin-right: 30px; }

.padding-30 {
  padding: 30px; }

.padding-top-30 {
  padding-top: 30px; }

.padding-bottom-30 {
  padding-bottom: 30px; }

.padding-left-30 {
  padding-left: 30px; }

.padding-right-30 {
  padding-right: 30px; }

.padding-y-30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.padding-x-30 {
  padding-left: 30px;
  padding-right: 30px; }

.margin-40 {
  margin: 40px; }

.margin-top-40 {
  margin-top: 40px; }

.margin-bottom-40 {
  margin-bottom: 40px; }

.margin-left-40 {
  margin-left: 40px; }

.margin-right-40 {
  margin-right: 40px; }

.margin-y-40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.margin-x-40 {
  margin-left: 40px;
  margin-right: 40px; }

.padding-40 {
  padding: 40px; }

.padding-top-40 {
  padding-top: 40px; }

.padding-bottom-40 {
  padding-bottom: 40px; }

.padding-left-40 {
  padding-left: 40px; }

.padding-right-40 {
  padding-right: 40px; }

.padding-y-40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.padding-x-40 {
  padding-left: 40px;
  padding-right: 40px; }

.margin-50 {
  margin: 50px; }

.margin-top-50 {
  margin-top: 50px; }

.margin-bottom-50 {
  margin-bottom: 50px; }

.margin-left-50 {
  margin-left: 50px; }

.margin-right-50 {
  margin-right: 50px; }

.margin-y-50 {
  margin-top: 50px;
  margin-bottom: 50px; }

.margin-x-50 {
  margin-left: 50px;
  margin-right: 50px; }

.padding-50 {
  padding: 50px; }

.padding-top-50 {
  padding-top: 50px; }

.padding-bottom-50 {
  padding-bottom: 50px; }

.padding-left-50 {
  padding-left: 50px; }

.padding-right-50 {
  padding-right: 50px; }

.padding-y-50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.padding-x-50 {
  padding-left: 50px;
  padding-right: 50px; }

.margin-100 {
  margin: 100px; }

.margin-top-100 {
  margin-top: 100px; }

.margin-bottom-100 {
  margin-bottom: 100px; }

.margin-left-100 {
  margin-left: 100px; }

.margin-right-100 {
  margin-right: 100px; }

.margin-y-100 {
  margin-top: 100px;
  margin-bottom: 100px; }

.margin-x-100 {
  margin-left: 100px;
  margin-right: 100px; }

.padding-100 {
  padding: 100px; }

.padding-top-100 {
  padding-top: 100px; }

.padding-bottom-100 {
  padding-bottom: 100px; }

.padding-left-100 {
  padding-left: 100px; }

.padding-right-100 {
  padding-right: 100px; }

.padding-y-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.padding-x-100 {
  padding-left: 100px;
  padding-right: 100px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.float-none {
  float: none; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
  line-height: 0; }
.clearfix:after {
  clear: both; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.uppercase {
  text-transform: uppercase; }

.color-main {
  color: #3498DB; }

.color-success {
  color: #1BBC9B; }

.color-error {
  color: #E74C3C; }

.color-warning {
  color: #F1C000; }

.color-light {
  color: #ecf0f1; }

.color-dark {
  color: #252428; }

.color-black {
  color: #000; }

.color-white {
  color: #fff; }

.bg-main {
  background-color: #3498DB;
  color: #fff; }

.bg-success {
  background-color: #1BBC9B;
  color: #fff; }

.bg-error {
  background-color: #E74C3C;
  color: #fff; }

.bg-warning {
  background-color: #F1C000;
  color: #fff; }

.bg-light {
  background-color: #ecf0f1;
  color: #999; }

.bg-dark {
  background-color: #252428;
  color: #fff; }

.bg-white {
  background-color: #fff; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.hide {
  display: none; }

.small-text {
  color: #bbb;
  font-size: 0.9em;
}

.small-text a {
  color: #999;
}

input:disabled {
  background: #eee;
}

.time {
  margin: 15px 0 30px;
  border-radius: 4px;
  padding: 16px 24px;
  background: #f4f6f8;
}

.date-time {
  cursor: pointer;
}

h1 small {
  font-size: 20px;
  line-height: 20px;
}

.app {
  min-height: 100vh;
}
